@import '../../main-styles.scss';

$light: #f0f0f0;

.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.task-manager-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 680px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background: #ffffff;
  padding: 42px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.task-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 42px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow-y: auto;
}

.title {
  font-family: 'Lato';
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #00a2ff;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  font-size: 16px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.list-menu {
  flex-direction: column;
  margin-top: 15px;
  flex-grow: 1;
}

.task {
  background: white;
  padding: 15px 20px;
  border-radius: 8px;
  margin-top: 10px;
  position: relative;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    box-shadow: 0 0 0 5px #eeeeee;
  }

  &.complete {
    text-decoration: line-through;
  }
}

.task-title-view {
  font-weight: bold;
  font-size: 20px;
}

.task-description-view {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.task-due-date {
  margin-top: 5px;
}

.task-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 20px;

  i {
    cursor: pointer;
    font-size: 18px;
    padding: 10px;

    &:hover {
      color: #0074ae;
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 20px 0;
}

.button {
  background-color: #00a2ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
