<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title">Criar</h1>
      <div class="list-menu">
        <div class="task-title">
          <input [(ngModel)]="newTask.titulo" placeholder="Título" class="input-field" />
        </div>
        <div class="task-description">
          <input [(ngModel)]="newTask.descricao" placeholder="Descrição" class="input-field" />
        </div>
        <div class="task-date">
          <input
            type="date"
            [(ngModel)]="newTask.data_vencimento"
            placeholder="Data de Vencimento"
            class="input-field"
          />
        </div>
      </div>
      <div class="button-container">
        <button class="button is-primary" (click)="adicionarTarefa()">
          + Nova Tarefa
        </button>
      </div>
    </div>

    <div class="task-list-container has-background-light">
      <h1 class="title">Tarefas</h1>
      <div
        *ngFor="let task of tasks"
        class="task"
        [class.complete]="task.status === 'Completa'"
      >
        <h1 class="task-title-view">{{ task.titulo }}</h1>
        <p class="task-description-view">{{ task.descricao }}</p>
        <p class="task-due-date">Data de Vencimento: {{ task.data_vencimento | date: 'dd/MM/yyyy' }}</p>
        <p>Status: {{ task.status }}</p>
        <div class="task-buttons">
          <i class="fas fa-check" (click)="editarTarefa(task)"></i>
          <i class="fas fa-trash" (click)="deletarTarefa(task.id)"></i>
        </div>
      </div>
    </div>
  </div>
</div>
